<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Song List</title>
</head>

<body>
<h1>Song List</h1>
<ul>
    <li th:each="song : ${songMap}">
        <span th:text="'Song ' + ${song.key} + ': ' + ${song.value}"></span>
    </li>
</ul>
</body>
</html>